<div class="first-page">
    <div class="first-page-con">
        <h2 class="text-center">这当然是首页</h2>
        <div>博客创建于2016年12月17日。</div>
        <div>开源代码地址 <a
                href="https://github.com/gaga-change/server-cloud">https://github.com/gaga-change/server-cloud</a>
        </div>
        <div>开发依赖:</div>
        <ul>
            <li>后端
                <ul>
                    <li>node.js+express</li>
                </ul>
            </li>
            <li>前端
                <ul>
                    <li>angularJS </li>
                    <li>jQuery</li>
                    <li>BootStrap</li>
                </ul>
            </li>
        </ul>
        <div>（我用几个json文件代替了专业的数据库，不是不会，而是暂时没必要。数据少的可怜，何必“自大”。）</div>
        <hr>
        <p>说实话这博客来的有点晚了。阿里云服务器早已经买好，域名也早已经备案。只是没有想好到底该怎么写自己的个人网站。之前还想学一下UI设计ps什么的让自己的主页美观一点。但是想想还是算了。一个前端就已经够学的了。其实走到这一步也不容易啊~历经坎坷。
        </p>
        <p>个人觉得，现在做一个个人网站身为一个前端来说，说难难，因为要跨过&quot;浏览器输入地址然后按回车键到显示页面发生了什么&quot;这句话。如果已经跨过了，还是不容易，因为还得学学node.js。不知道node.js的可以自行百度。当然如果你已经有学一门后端语言了，就当我什么都没说。</p>
        <p>自己是从13年开始学c语言，进入编程的领域。后面又学了些其它语言。</p>
        <p>在15年的时候，接触了JavaWeb开发。后面有些喜欢，就自学了好久。</p>
        <p>在16年的时候，我转为了前端。因为我学了后端后发现自己写html页面怎么写都不好看，而且写前端的时间比后端还要耗时间。当初我是因为想写一个漂亮的页面才学网站开发的。然后，我学前端，仔细的学，后面接触了node.js之后，就没有再接触java语言了。当初的JavaWeb思想已经继承下来，这就够了。潜移默化的转为了前端。
        </p>
        <b>未完....... 待续</b>
        <br><br><br>
        <div class="pull-right">有问题可以交流哈 ~
            <address>
                <span>我的邮箱：gaga_change@qq.com</span><br>
                <span>我的qq： 1172482914</span>
            </address>
        </div>
    </div>
</div>
